<body>
  <div id="app"></div>
  <script id="x-app" type="text/x-template">
    <div class="lg:max-w-[1000px] border border-[white] mx-auto">
      <bedok-wrapper :page.sync="page" v-model:page="page">

        <template #menu="{ onRoute, token, notifications, onLogout }">
          <button @click.prevent="() => onRoute(1)">Strona główna</button>
          <button @click.prevent="() => onRoute(2)">Lista ogłoszeń</button>
          <button v-if="token" @click.prevent="() => onRoute('profile')" :disabled="!token">Mój profil</button>
          <button @click="() => onRoute('login')" v-if="!token">Zaloguj</button>
          <button @click="() => {onRoute(10), onLogout()}" v-else>Wyloguj</button>
          <button v-if="token" @click="window.notifs.show()" :title="JSON.stringify(notifications, null, 2)">🔔 ({{ notifications?.length }})</button>
          <dialog id="notifs">
            <ul>
              <li v-for="e in notifications">{{ JSON.stringify(e) }}</li>
              <li v-if="!notifications?.length">brak notyfikacji</li>
            </ul>
            <button @click="window.notifs.close()">x</button>
          </dialog>
        </template>

        <template #login="{ onRoute, apiClient, token, form, onLogin, onRegister }">
          <form @submit.prevent="(ev) => onLogin(form, token).then((t) => {onRoute('adslist');})">
            <h1>Zaloguj się</h1>
            <input v-model="form.email" placeholder="E-mail"/>
            <br>
            <input v-model="form.password" placeholder="Hasło"/>
            <br>
            <input type="submit" value="Zaloguj"/>
            <br/>
            Nie masz konta? <button @click="() => onRoute('register')">Zarejestruj się</button>
            <br>
            <div title="resetuj hasło form">
              <button type="button" @click="apiClient.resetPassword(form.email).then(r => resetPwdResp = r)">Zresetuj hasło</button>
              <pre v-if="resetPwdResp">{{JSON.stringify(resetPwdResp, null, 2)}}</pre>
            </div>
            <!-- <input type="button" @click="apiClient.fetchApi(`/host/reset-password?email=${form.email}`)"> -->
            <details>
              <summary>Zarejestruj</summary>
              <p>Podaj jedno pole więcej i możesz się zarejestrować (powyższe pola są współdzielone)</p>
              <div>
                <input v-model="form.phone" placeholder="Nr telefonu"/>
                <br>
                <button @click.prevent="(ev) => onRegister(form, {fullObj: true}).then((res) => {debugger; if (res.id) {onRoute('login'); window.alert('ok'); form.phone = ''} else window.alert('err');})">Zarejestruj się</button>
              </div>
            </details>
          </form>
        </template>

        <template #register="{ onRoute, apiClient, token, form, onLogin, onRegister }">
          <form @submit.prevent="(ev) => onRegister(form, {fullObj: true}).then((t) => {onRoute('adslist');})">
            <h1>Zarejestruj się</h1>
            <input id="regEmail" v-model="form.email" placeholder="E-mail"/>
            <br>
            <input id="regPass" v-model="form.password" placeholder="Hasło"/>
            <br>
            <input id="regPhone" v-model="form.phone" placeholder="Nr telefonu"/>
            <br>
            <button @click.prevent="(ev) => onRegister(form, {fullObj: true})
                .then((res) => {
                  debugger;
                  if (res.id) {
                    onRoute('login');
                    window.alert('ok');
                    form.phone = ''
                  } else {
                    window.alert('err');
                  }
                })">Zarejestruj się</button>
            <button id="regBtn" @click.prevent="() => {
              apiClient.fetchApi('/host/register', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                  email: regEmail.value,
                  password: regPass.value,
                  phone: regPhone.value,
                })}
              ).then(r => r.text().then(r => window.regBtn.setAttribute('title', r)))
            }">Zarejestruj się (apiClient call)</button>
          </form>
          Masz konto? <button @click="() => onRoute('login')">Zaloguj się</button>
        </template>

        <template #mainpage="{first30Ads, openAdDetails, createAd, newModel, onRoute, form, onSearch, notifications}">
          <ul>
            <li v-for="ad in first30Ads">
              {{JSON.stringify(ad)}}
              <div v-if="ad.data?.guests?.length >= ad.data?.numBeds"><b>brak miejsc</b></div>
            </li>
          </ul>

          <details>
            <summary>Wyszukaj z kryteriami</summary>
            <input type="text" id="critDateFrom">-
            <input type="text" id="critDateTo"><br/>
            <span id="critRes"></span>
            <button @click="apiClient.fetchApi('/advertisement/criteria', {method: 'POST', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({dateFrom: window.critDateFrom.value, dateTo: window.critDateTo.value})}).then(r => r.text().then(r => window.critRes.innerHTML = r))">Wyszukaj z kryteriami</button>
          </details>
        </template>

        <template v-slot:adslist="{ads, onRoute, createAd, newModel, removeAd, isLoading, openAdDetails, editAd, editAdId, token}">
          <h2>Lista ogłoszeń</h2>
          <div><button @click="onRoute('adcreate')">dodaj nowe</button></div>
          <ul>
            <li v-if="isLoading">Trwa wczytywanie</li>
            <li v-else v-for="(ad, index) in ads" :key="index" class="card1" style="display: unset;">
              <pre>{{ JSON.stringify(ad, null, 2) }}</pre>
              <button @click="removeAd(id)" title="remove">x</button>
              <button @click="() => {openAdDetails({id: ad.advertisementId, data: ad})}">otwórz</button>
              <button v-if="'only if host is logged user',token" @click="() => {editAd(ad.advertisementId, ad)}">edytuj</button>
              <details>
                <summary>Zdjęcia ({{ad?.mainPhotos?.length}})</summary>
                <img v-for="el in ad.mainPhotos" :src="`data:image/png;base64,${el?.data}`"/>
              </details>
            </li>
          </ul>
        </template>

        <template #adedit="{updateAd, tempAds, editAd, ad, editAdId, apiClient, triggerReload, token}">
          <div>
            <button @click="page = 'adslist'">powrót</button>
            <pre contenteditable @blur="ev => {ad = JSON.parse(ev.target.textContent)}">{{
              JSON.stringify(ad, null, 2)
            }}</pre>
            <button @click="() => updateAd(ad?.id || ad?.advertisementId || editAdId, ad)">zapisz</button>
            <hr/>
            <details>
              <summary>Wgraj zdjęcie ogłoszenia</summary>
              <input type="file" id="adInput">
              <button @click="() => {apiClient.uploadAdPhoto(token, editAdId, window.adInput).then(e => {uploadAdPhotoResp = e; triggerReload()})}">wyślij</button>
              <div>
                <pre v-if="uploadAdPhotoResp">{{JSON.stringify(uploadAdPhotoResp, null)}}</pre>
              </div>
            </details>
            <details>
              <summary>Zdjęcia ({{ad?.roomPhotos?.length}})</summary>
              <ul>
                <li v-if="ad?.roomPhotos?.length === 0">brak</li>
                <li v-else v-for="(e, idx) in ad?.roomPhotos || []">
                  <img v-if="(e?.photo?.data || e?.data)?.startsWith?.('data') || (e?.photo?.data || e?.data)?.startsWith?.('http')" :src="e?.photo?.data || e?.data"/>
                  <!-- <img v-else :src="`data:image/png;base64,${e?.photo?.data || e?.data}`"/> -->
                  <img v-else :src="`${e?.photo?.data || e?.data}`"/>
                  <pre :title="JSON.stringify(e, null, 2)">{{e.id}} (najedź myszką)</pre>
                  <button title="usuń" @click="apiClient.adPhotoDelete(token, ad, idx), apiClient.fetchApi(`/advertisement/${editAdId || ad.id || e.id}/photo`, {method: 'delete', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({photosIds: [e.id]})})">x</button>
                </li>
              </ul>
            </details>
          </div>
        </template>

        <template #adcreate="{createAd, newModel, onRoute}">
          <form @submit.prevent="() => {createAd(newModel)}">
            <pre contenteditable @blur="ev => {newModel = JSON.parse(ev.target.textContent)}">{{ JSON.stringify(newModel, null, 2) }}</pre>
            <button>dodaj</button>
          </form>
        </template>

        <template #details="{ ad, form, onReserve, onRoute }">
          <h2>Szczegóły ogłoszenia</h2>

          <details open>
            <summary>
              <h3>Dokonaj rezerwacji</h3>
            </summary>
            <form @submit.prevent="(ev, pr) => {onReserve({advertisementId: ad.id, ...form}).then(() => onRoute('reservationSuccess'))}">
              <fieldset>
                <input type="hidden" v-model="form.advertisementId"/>
                <input type="date" v-model="form.dateFrom"/>
                <input type="date" v-model="form.dateTo"/>
                <input type="submit"/>
              </fieldset>
            </form>
          </details>

          <button @click="page = 1">powrót</button>
          <pre>{{JSON.stringify(ad, null, 2)}}</pre>
          <div>Zdjęcia</div>
          <ul>
            <li v-for="e in ad?.data?.mainPhotos || ad?.roomPhotos || []">
              <img :src="`data:image/png;base64,${e?.data}`"/>
            </li>
          </ul>
        </template>

        <template #profile="{ onRoute, apiClient, token, myAds, myData, updateAd, tempAds, editAd, editAdId, window, triggerReload }">
          <details open>
            <summary>Dane mojego profilu:</summary>
            <pre id="userData" contenteditable>{{
              JSON.stringify(myData, null, 2)
            }}</pre>
            <button title="zapisz (na dzien 3 jul 24 - nie działa)" @click="apiClient.fetchApi(`/host`, {method: 'patch', headers: {'Content-Type': 'application/json'}, body: window.userData.textContent})">zapisz</button>
          </details>
          <details>
            <summary>Zdjęcie</summary>
            <img :src="`data:image/png;base64,${myData?.photo?.data}`"/>
          </details>
          <details>
            <summary>Wgraj zdjęcie profil</summary>
            <input type="file" id="photoInput">
            <button @click="() => {debugger; apiClient.uploadPhoto(token, window.photoInput).then(e => uploadResp = e)}">wyślij</button>
            <div>
              <pre v-if="uploadResp">{{JSON.stringify(uploadResp, null, 2)}}</pre>
            </div>
          </details>
          <details>
            <summary>Moje rezerwacje</summary>
            <fieldset>
              <ol>
                <li v-for="e in myData.myReservations" :title="JSON.stringify(e, null, 2)">
                  {{e}}
                  <button @click="() => {apiClient.deleteReservation(e); triggerReload()}">x</button>
                  <button disabled>edytuj rezerwację</button>
                </li>
              </ol>
            </fieldset>
          </details>
          <details open>
            <summary>Moje ogłoszenia (jako host):</summary>
            <div>
              <ul>
                <li v-for="(e, i) in myAds">
                  <pre contenteditable @blur="ev => {debugger; tempAds[i] = JSON.parse(ev.target.textContent)}">{{
                    JSON.stringify(e, null, 2)
                  }}</pre>
                  <button @click="editAd(e.id || e.advertisementId)">edytuj</button>
                  <button @click="apiClient.deleteAdById(e.id || e.advertisementId).then(res => window.alert(JSON.stringify(res)))">usuń</button>
                </li>
                <li v-if="!myAds.length">brak twoich ogłoszeń <button @click="onRoute('adcreate')">dodaj jakieś</button></li>
              </ul>
            </div>
          </details>

          <details>
            <summary>Zmien hasło</summary>
            Obecne hasło <input type="text" id="currentPass" disbaled><br/>
            Nowe hasło <input type="text" id="newPass" placeholder="np. KawaInka3Karlolinka"><br/>
            <button @click="apiClient.fetchApi('/user/password', {method: 'POST', body: JSON.stringify({newPass: window.newPass.value})}).then(r => window.passwdResp.value = JSON.stringify(r, null, 2))">Zmień</button>
            <br/>
            <textarea id="passwdResp"></textarea>
          </details>
        </template>

      </bedok-wrapper>
    </div>
  </script>

  <script>
    function defineModule(name, buildModuleBuilder) {
      window.bedokWrapperPluginBuilder = buildModuleBuilder()
    }
  </script>
  <script src="https://unpkg.com/vue@3.3.8"></script>
  <script src="./mockedApi.js"></script>
  <script src="./wrapper.js"></script>
  <!-- <script src="/bedok-front-lib/src/components/wrapper.js"></script> -->
  <script>
    const appDef = ({
      components: {
      },
      template: '#x-app',
      el: '#app',
      data() {
        return {
          page: (location.hash.substr(1).indexOf(',') !== -1 ? location.hash.substr(1).split(',') : location.hash.substr(1)) || 1,
          window,
        }
      },
    })
    Vue.createApp(appDef) // vue3
      .use(window.bedokWrapperPluginBuilder(Vue))
      .mount(appDef.el)
  </script>

</body>
